<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Show</title>
</head>

<body>
    <h1>Hello</h1>
    <h3 th:text="${person.getId()}">val</h3>
    <h3 th:text="${person.getName()}">val</h3>
    <h3 th:text="${person.getLastName()}">val</h3>
    <h3 th:text="${person.getEmail()}">val</h3>
    <h3 th:text="${person.getPhoneNumber()}">val</h3>
    <h3 th:text="${person.getPassword()}">val</h3>
    <a th:href="@{/people/{id}/edit (id = ${person.getId()})}"> Edit </a>

    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="delete">
    </form>

</body>

</html>